*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Add a main container style */
.main-container {
  max-width: 1200px; /* Or any maximum width you prefer */
  margin: 0 auto; /* Centers the container */
  padding: 0 20px; /* Adds some padding on the sides */
}


body {
  box-sizing: border-box;
  background-color: #fff; 
  color: #000; 
  font-family: Arial, sans-serif; 
}

header {
  height: 4rem;
  background-color: #000; 
  border-bottom: 2px solid #333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 1rem;
  background-color: #333; 
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

header > ul > li {
  height: 100%;
}

header > ul > li:hover {
  background-color: #fff; 
  color: #000; 
}

header > ul > li > a {
  color: #fff; 
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 16px;
}

.singleCard {
  max-width: 300px;
  max-height: 300px;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid #333; 
  border-radius: 5px;
  background-color: #f5f5f5; 
}

.singleCard > img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  padding: 2rem;
  background-color: #000; 
  color: #fff; 
}
